*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#body{
    background-image: url("background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 300px;
   width: 400px;
   max-width: 100%;
   overflow: hidden;
}

label[for="location"]{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
    font-weight: 600;
    vertical-align: middle;
    color: white;
    -webkit-text-stroke: 1px #000;
}

#location{
    height: 33px;
    width: 150px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid rgb(95, 89, 89);
    margin-left: 10px;
}  

#location::placeholder{
  padding-left: 10px;
  font-size: 15px;
}

h1{
    margin-left: -10px;
    text-align: center;
    font-size: 40px;
    color: white;
    white-space: nowrap;
    transition: font-size 0.3s;
    -webkit-text-stroke: 1px #000;
}

.small-font-size {
    font-size: 30px;
}

#changeLocation{
    white-space: normal;
    overflow: hidden;
}

.info{
    font-size: 20px;
    margin: 7px;
    text-align: center;
    font-weight: 900; 
    color: white;
    -webkit-text-stroke: 1px #000;
    
}

#btn{
    height: 28px;
    width: 74px;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 160px;
    margin-top: 14px;
    cursor: pointer;
    background-color: rgb(44, 41, 41);
    color: white;
    font-family: 'DM Serif Display', serif;
}

#btn:hover{
    background-color: rgb(58, 57, 57);
    color: white;
}



   



