*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/162/562/non_2x/beautiful-pink-mountain-silhouette-landscape-with-fog-and-sunrise-and-sunset-in-mountains-background-outdoor-and-hiking-concept-good-for-wallpaper-site-banner-cover-poster-free-vector.jpg");
   background-size: cover;
   background-repeat: no-repeat;
    height: 300px;
    width: 400px;
   
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
}

label[for="location"]{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
    font-weight: 600;
    vertical-align: middle;
    color: rgb(95, 89, 89);
    -webkit-text-stroke: 1px #000;
}

#location{
    height: 33px;
    width: 150px;
    margin-top: 20px;
    border-radius: 15px;
    border: 2px solid rgb(95, 89, 89);
    margin-left: 10px;
}  

#location::placeholder{
  padding-left: 10px;
  font-size: 15px;
}

h1{
    margin-left: -10px;
    text-align: center;
    font-size: 40px;
    color: rgb(95, 89, 89);
    white-space: nowrap;
    transition: font-size 0.3s;
    -webkit-text-stroke: 1px #000;
}

.small-font-size {
    font-size: 30px;
}

#changeLocation{
    white-space: normal;
    overflow: hidden;
}

.info{
    font-size: 20px;
    margin: 7px;
    text-align: center;
    font-weight: 900; 
    color: rgb(207, 203, 203);
    -webkit-text-stroke: 1px #000;
    
}

#btn{
    height: 28px;
    width: 74px;
    border-radius: 8px;
    font-size: 20px;
    margin-left: 160px;
    margin-top: 14px;
    border: 2px solid rgb(95, 89, 89);
    cursor: pointer;
    background-color: white;
}

#btn:hover{
    background-color: rgb(231, 224, 224);
}



   



